<template>
  <div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                    Filtros
                    </h4>

                    <div class="pull-right">
                      <button type="button" name="button" class="btn btn-warning btn-flat"  @click="reestablecer">Limpiar</button>
                      <button type="button" name="button" class="btn btn-success btn-flat"  @click="filtrar">Filtrar</button>
                    </div>
                </div>

                <div class="panel-body clearfix">
                    <div class="form-group col-lg-3">
                      <label>ID</label>
                      <input type="text" v-model="IdFiltro" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                      <label>Nombre</label>
                      <input type="text" v-model="nombreFiltro" class="form-control">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                      Banda
                    </h4>
                </div>

                <div class="panel-body clearfix">
                  <div class="form-group col-lg-3">
                    <label>Nombre</label>
                    <input type="text" v-model="banda.nombre" class="form-control">
                  </div>
                  <div class="form-group col-lg-3">
                    <label>Apellido</label>
                    <input type="text" v-model="banda.apellido" class="form-control">
                  </div>
                  <div class="form-group col-lg-3">
                    <label>Redes Sociales</label>
                    <input type="text" v-model="banda.redes_sociales" class="form-control">
                  </div>
                  <div class="row">
                    <div class="pull-right">
                      <button type="button" name="button" class="btn btn-primary btn-flat" @click="guardar" v-if="!banda.id">Guardar</button>
                      <button type="button" name="button" class="btn btn-primary btn-flat" @click="update" v-else-if="banda.id">Actualizar</button>
                    </div>
                  </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                      Listado de Bandas
                    </h4>
                </div>

                <div class="panel-body clearfix">
                  <div class="table-responsive">
                    <table class="table table-bordered" v-if="bandas.data != undefined && bandas.data.length > 0">
                      <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Integrantes</th>
                      </thead>
                      <tbody>
                        <tr v-for="(banda, key) in bandas.data">
                          <td>
                            {{
                              banda.id
                            }}
                          </td>
                          <td>
                            {{
                              banda.nombre
                            }}
                          </td>
                          <td>

                          </td>
                          <td>
                            <button type="button" name="button" class="btn btn-primary btn-flat" @click="edit(banda)">Editar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-bordered" v-else>
                      <tr>
                        No se encontrarón resultados.
                      </tr>
                    </table>
                    <div class="text-center">
                      <pagination :data="bandas" v-on:pagination-change-page="filtrar" :limit="15" ></pagination>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: "banda",
  data ()  {
    return {
      nombreFiltro: null,
      IdFiltro: null,
      bandas: {},
      errores: [],
      alertas: [],
      banda: {
        id: null,
        nombre: null
      }
    }
  },
  methods: {
    mounted() {
      this.filtrar();
    },
    filtrar(page = 1) {
      this.limpiar();
      let request = new FormData();
      if (this.IdFiltro) {
        request.append('id', this.IdFiltro);
      }
      if (this.nombreFiltro) {
        request.append('nombre', this.nombreFiltro);
      }
      axios
      .post(APP_URL+ 'bandas', request)
      .then(response => {
        this.banda = response.data.banda;
      }).catch(e => {
        console.log(e);
      });
    },
    guardar() {
      let request = new FormData();
      if (this.artista.nombre) {
        request.append('nombre', this.artista.nombre);
      }
      if (this.artista.apellido) {
        request.append('apellido', this.artista.apellido);
      }
      if (this.artista.redes_sociales) {
        request.append('redes_sociales', this.artista.redes_sociales);
      }

      axios
      .post(APP_URL+ 'banda/store', request)
      .then(response => {
        this.banda = response.data.banda;
      }).catch(e => {
        console.log(e);
      });
    },
    edit(artista) {
      this.artista = {
          id: null,
          nombre: null,
          apellido: null,
          redes_sociales: null
      };
      this.artista = artista;
    },
    update() {
      let request = new FormData();
      if (this.artista.id) {
        request.append('id_artista', this.artista.id);
      }
      if (this.artista.nombre) {
        request.append('nombre', this.artista.nombre);
      }
      if (this.artista.apellido) {
        request.append('apellido', this.artista.apellido);
      }
      if (this.artista.redes_sociales) {
        request.append('redes_sociales', this.artista.redes_sociales);
      }

      axios
      .post(APP_URL+ 'banda/update', request)
      .then(response => {
        this.filtrar(1);
        if (response.data.errores.length > 0) {
          this.errores = response.data.errores;
        }
        if (response.data.alertas.length > 0) {
          this.alertas = response.data.alertas;
        }

      }).catch(e => {
        console.log(e);
      });
    },
    reestablecer() {
      this.errores = [];
      this.alertas = [];
      this.nombreFiltro = null;
      this.IdFiltro = null;
      this.banda = {
          id: null,
          nombre: null,
          apellido: null,
          redes_sociales: null
        };
    }
  }
}
</script>
