<template>
  <div class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                    Filtros
                    </h4>

                    <div class="pull-right">
                      <button type="button" name="button" class="btn btn-warning btn-flat"  @click="reestablecer">Limpiar</button>
                      <button type="button" name="button" class="btn btn-success btn-flat"  @click="filtrar">Filtrar</button>
                    </div>
                </div>

                <div class="panel-body clearfix">
                    <div class="form-group col-lg-3">
                      <label>ID</label>
                      <input type="text" v-model="IdFiltro" class="form-control">
                    </div>
                    <div class="form-group col-lg-3">
                      <label>Nombre</label>
                      <input type="text" v-model="nombreFiltro" class="form-control">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                      Artista
                    </h4>
                </div>

                <div class="panel-body clearfix">
                  <div class="form-group col-lg-3">
                    <label>Nombre</label>
                    <input type="text" v-model="canciones.nombre" class="form-control">
                  </div>
                  <div class="form-group col-lg-3">
                    <label>Apellido</label>
                    <input type="text" v-model="canciones.apellido" class="form-control">
                  </div>
                  <div class="form-group col-lg-3">
                    <label>Redes Sociales</label>
                    <input type="text" v-model="canciones.redes_sociales" class="form-control">
                  </div>
                  <div class="row">
                    <div class="pull-right">
                      <button type="button" name="button" class="btn btn-primary btn-flat" @click="guardar" v-if="!canciones.id">Guardar</button>
                      <button type="button" name="button" class="btn btn-primary btn-flat" @click="update" v-else-if="canciones.id">Actualizar</button>
                    </div>
                  </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">
                      Listado de Canciones
                    </h4>
                </div>

                <div class="panel-body clearfix">
                  <div class="table-responsive">
                    <table class="table table-bordered" v-if="canciones.data != undefined && canciones.data.length > 0">
                      <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Duración</th>
                        <th>Banda</th>
                      </thead>
                      <tbody>
                        <tr v-for="(cancion, key) in canciones.data">
                          <td>
                            {{
                              cancion.id
                            }}
                          </td>
                          <td>
                            {{
                              canciones.nombre
                            }}
                          </td>
                          <td>
                              {{
                                canciones.duracion
                              }}
                          </td>
                          <td>
                            <button type="button" name="button" class="btn btn-primary btn-flat" @click="edit(cancion)">Editar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-bordered" v-else>
                      <tr>
                        No se encontrarón resultados.
                      </tr>
                    </table>
                    <div class="text-center">
                      <pagination :data="canciones" v-on:pagination-change-page="filtrar" :limit="15" ></pagination>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: "canciones",
  data ()  {
    return {
      nombreFiltro: null,
      IdFiltro: null,
      canciones: {},
      errores: [],
      alertas: [],
      canciones: {
        id: null,
        id_banda: null,
        nombre: null,
        duracion: null,

      }
    }
  },
  methods: {
    mounted() {
      this.filtrar();
    },
    filtrar(page = 1) {
      this.limpiar();
      let request = new FormData();
      if (this.IdFiltro) {
        request.append('id', this.IdFiltro);
      }
      if (this.nombreFiltro) {
        request.append('nombre', this.nombreFiltro);
      }
      axios
      .post(APP_URL+ 'canciones', request)
      .then(response => {
        this.canciones = response.data.canciones;
      }).catch(e => {
        console.log(e);
      });
    },
    guardar() {
      let request = new FormData();
      if (this.artista.nombre) {
        request.append('nombre', this.artista.nombre);
      }
      if (this.artista.apellido) {
        request.append('apellido', this.artista.apellido);
      }
      if (this.artista.redes_sociales) {
        request.append('redes_sociales', this.artista.redes_sociales);
      }

      axios
      .post(APP_URL+ 'canciones/store', request)
      .then(response => {
        this.canciones = response.data.canciones;
      }).catch(e => {
        console.log(e);
      });
    },
    edit(cancion) {
      this.cancion = {
          id: null,
          id_banda: null,
          nombre: null,
          duracion: null
      };
      this.cancion = cancion;
    },
    update() {
      let request = new FormData();
      if (this.cancion.id) {
        request.append('id_cancion', this.cancion.id);
      }
      if (this.cancion.id_banda) {
        request.append('id_banda', this.cancion.id_banda);
      }
      if (this.cancion.nombre) {
        request.append('nombre', this.cancion.nombre);
      }
      if (this.cancion.duracion) {
        request.append('duracion', this.cancion.duracion);
      }

      axios
      .post(APP_URL+ 'canciones/update', request)
      .then(response => {
        this.filtrar(1);
        if (response.data.errores.length > 0) {
          this.errores = response.data.errores;
        }
        if (response.data.alertas.length > 0) {
          this.alertas = response.data.alertas;
        }

      }).catch(e => {
        console.log(e);
      });
    },
    reestablecer() {
      this.errores = [];
      this.alertas = [];
      this.nombreFiltro = null;
      this.IdFiltro = null;
      this.cancion = {
          id: null,
          id_banda: null,
          nombre: null,
          duracion: null,

        };
    }
  }
}
</script>
